:root {
  --dark: #191919;
  --light: #e5e5e5;
  --nav-bg: #233b60;
  --button-hover: #2c4b7a;
  --button-click: #1e3354;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
  scroll-padding-top: 6em;
}

body {
  background: var(--button-click);
  color: var(--light);
  margin: 0;
}

/**********************************************************************
                                Navbar
**********************************************************************/
header {
  background: var(--nav-bg);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Move checkbox off-screen so it's unseen but still tab-accessible. */
.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* When the checkbox has focus, indicate it on the hamburger menu. */
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 2px solid var(--dark);
  outline-offset: -0.1em;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  width: 4em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--light);
  height: 2px;
  width: 1.4em;
  border-radius: 10px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--nav-bg);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 100ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding: 1em;
  cursor: pointer;
  transition: background-color 100ms ease;
}

.logo {
  color: var(--light);
}

nav a {
  color: var(--light);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

nav li:hover {
  background-color: var(--button-hover);
}

nav li:active {
  background-color: var(--button-click);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 100ms;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(auto, 4fr) 1fr;
  }

  .logo {
    grid-column: 2/3;
  }

  nav {
    /* Unset some of the settings for mobile view. */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
  }
}

/**********************************************************************
                              Logo image
**********************************************************************/

.figure-with-logo {
  padding-top: 4.9em;
  margin: 0;
  position: relative;
}

.logo-image {
  width: 100%;
  object-fit: cover;
  max-height: 90vh;
}

.logo-on-image {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  font-size: 3em;
  font-weight: bold;
  color: var(--light);
  letter-spacing: 0.9em;
  text-shadow: 1px 1px 2px black;
  transition: letter-spacing 200ms ease-in-out;
}

@media screen and (max-width: 900px) {
  .logo-on-image {
    letter-spacing: 0.3em;
  }
}

/**********************************************************************
                              General section
**********************************************************************/

.section {
  text-align: center;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 2em;
}

.section-text {
  max-width: 60ch;
}

/**********************************************************************
                              Section dividers
**********************************************************************/

.section-dividing-image {
  margin: 0;
  position: relative;
}

.divider-image {
  width: 100%;
}

.divider-image {
  max-height: 900px;
  object-fit: cover;
}

.filtered-image {
  filter: saturate(250%);
}

/**********************************************************************
                              Adventures section
**********************************************************************/

.adventure-options {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  flex-wrap: wrap;
}

.option {
  border: solid 1px var(--light);
  border-radius: 8px;
  margin: 2em;
  background: var(--nav-bg);
  box-shadow: 2px 2px 20px black;
}

.option-image img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  max-height: 190px;
  object-fit: cover;
}

.option-title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1.4em;
}

.option-subtext {
  font-style: italic;
  font-size: 1em;
  margin: 1em;
}

.option-description {
  list-style-type: none;
  text-align: center;
  margin: 2em auto;
  padding: 0 4em;
}

.option-button {
  margin-bottom: 2em;
  width: 40%;
  padding: 1em;
  background: #f29d00;
  border: #f29d00;
  border-radius: 8px;
  cursor: pointer;
}

.option-button:hover {
  background: #ffa500;
  border: #ffa500;
}

.option-button:active {
  background: #e59500;
  border: #e59500;
}

@media screen and (max-width: 600px) {
  .section {
    margin-left: 1em;
    margin-right: 1em;
  }

  .adventure-options {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .option {
    margin: 1em 0;
    width: 100%;
  }

  .option-description {
    padding: 0 1em;
    font-size: 0.8em;
  }
}

/**********************************************************************
                              Contact section
**********************************************************************/

.form-container {
  border: solid 1px var(--light);
  border-radius: 8px;
  margin: 2em;
  background: var(--nav-bg);
  box-shadow: 2px 2px 20px black;
  padding: 2em;
  max-width: 90%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-label {
  margin-bottom: 0.4em;
}

.contact-input {
  padding: 0.4em;
  margin-bottom: 1em;
  border-radius: 2px;
  border: 0;
}

/* The default outline doesn't show up well on this background and
 * outlining doesn't respect border-radius so use a box-shadow. */
.contact-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5b9dff;
}

.submit-button {
  margin-top: 1em;
}

/**********************************************************************
                              Footer
**********************************************************************/

footer {
  background: #15233a;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  flex-wrap: wrap;
}

.site-info {
  max-width: 40ch;
}

.site-info a {
  color: orange;
}

.nav-links ul {
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 0.8em;
  margin: 1em;
  transition: background 100ms ease-in-out;
}

.nav-links a {
  list-style: none;
  text-decoration: none;
  color: var(--light);
}

.nav-links li:hover {
  background: var(--button-hover);
}

@media screen and (min-width: 1100px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .site-info {
    max-width: 70ch;
  }

  .nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li {
    margin: 1em;
  }
}
